llama_index
pypdf
openai
sentence_transformers
langchain
langchain_community
langchain_openai
langchain_anthropic
unstructured
faiss-cpu
unstructured_inference
pytesseract
flask
flask-cors
pikepdf
unstructured_pytesseract
markdown
python-dotenv
pillow_heif
libgl1
weasyprint
libpango1.0-0
libpango1.0-dev
libcairo2
libcairo2-dev
ibgdk-pixbuf2.0-0 
libgdk-pixbuf2.0-dev

